
.about
    display: flex
    flex: 1
    flex-direction: column

    .button
        margin: 10px
        display: flex
        justify-content: flex-end
        align-items: flex-end

.aboutImg
    display: flex
    flex: 1
    flex-direction: row
    margin:5vh 2vw 0px 2vw
    gap: 15px
    flex-wrap: wrap

    .info
        display: flex
        flex: 8
        flex-direction: column
    
    .imgcontainer
        display: flex
        flex: 4
        justify-content: center
        //align-items: center
        margin-top: 50px

    p
        font-size: 17px

.marco1
    display: flex
    justify-content: flex-end
    align-items: flex-end
    padding:8px
    background-color: #f5f5f5
    width: 250px
    height: 250px
    border: 1px solid #999999
