
.about
    display: flex
    flex: 1
    flex-direction: column

    p
        display: flex
        flex-grow: 6
        flex-basis: 300px
        align-items: center
        font-size: 40px

    .img
        display: flex
        flex-grow: 6
        flex-basis: 300px
        justify-content: center
        align-items: center
        img
            border-radius: 30px
            background-color: #FFFFFF
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

    .about-me
        margin: 10vh 5vw
        display: flex
        flex-direction: row
        flex-wrap: wrap-reverse
        flex-grow: 1
        .p
            font-size: 40px
            text-align: center
            margin: 20px
            padding: 20px

    .about-educacion
        margin: 5vw 0px
        display: flex
        flex-direction: row
        flex-grow: 1
        flex-wrap: wrap
        p
            justify-content: flex-end
        @media (max-width: 992px)
            p
                justify-content: center

    .about-actual
        width: 100%
        margin: 5vw 0px
        display: flex
        flex: 1
        flex-direction: row
        flex-wrap: wrap-reverse

        .p-container
            display: flex
            flex-grow: 6
            flex-basis: 300px
            
            justify-items: flex-start
            padding: 40px
            margin: 20px
            
            .p
                width: 600px
                display: block
                text-align: center

    @media (max-width: 992px)
        .p-container
            justify-items: center
            padding: 40px
            margin: 30px

    .about-findme
        margin: 15vw 0px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .links
            display: flex
            flex-direction: row
            gap: 50px
            margin: 50px

.animacion
    animation: fade-in 10s

@keyframes fade-in 
    0% 
        opacity: 0
    100% 
        opacity: 1

.hidden
    visibility: hidden
