
.nav
    display: flex
    flex-wrap: wrap
    align-items: center
    height: auto
    margin: 10px 70px

    .titulo
        display: flex
        flex-grow: 1

    .navegacion
        display: flex
        flex: 3
        flex-wrap: wrap
        justify-content: flex-end
        gap: 22px

        .div_button
            flex-grow: 1
            flex-basis: 50px


