
#root{
  display: flex;
  flex-direction: column;
  flex:1;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  flex:1;
  height:100vh;
  font-family:
    Gill Sans Extrabold,
    display;
}

@font-face {
  font-family: "Pepper Co";
  src: url('./fonts/PEPPERCo.otf');
}

@font-face {
  font-family: "Power Up";
  src: url('./fonts/POWER_UP.otf');
}

@font-face {
  font-family: "Player one";
  src: url('./fonts/PLAYER_ONE.otf');
}

@font-face {
  font-family: "GoldenAvocadoSans";
  src: url('./fonts/GoldenAvocadoSans-Yqq1q.otf');
}